html, body {
  background: #DDD;
  margin: 0;
  padding: 0;
  font: 12px/14px Arial, sans-serif;
}

p {
  margin: 0 0 2px 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  /*width: 600px;*/
  /*height: 620px;*/
  /*margin: 0 auto;*/
  /*overflow-y: scroll;*/
}

li {
  border-bottom: 1px solid #000;
  display: inline-block;
  /*width: 25%;*/
  width: 12.5%;
  vertical-align: top;
  padding: 5px 0;
}
li p {
  padding: 0 5px;
}

form {
  text-align: center;
}

select[multiple] {
  height: 100px;
}


#logger {
  border: 5px solid #CCC;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}